[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
tinycarlo = {editable = true, git = "https://github.com/tinycar-ai/tinycarlo"}
tensorflow-gpu = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
